    @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
    * {
        border: 0;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
        text-align: none;
    }
    
    body {
        width: 100%;
        height: 100vh;
        font-family: 'Lato', sans-serif;
        background-color: rgb(241, 241, 241);
    }
    
    body .container-one {
        background: url(./images/bg.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: static;
        opacity: 0.7;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    body .container-one .heading-container {
        background-color: black;
        border-bottom-right-radius: 1rem;
        border-top-left-radius: 1rem;
        color: rgb(255, 255, 255);
        padding: 25px;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 0.5rem;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        outline: 0.4rem inset purple;
        outline-offset: 0.5rem;
    }
    
    body .container-one-introduction {
        padding: 3rem;
        background-color: rgb(241, 241, 241);
        color: #666;
    }
    
    body .container-one-introduction h2 {
        background-color: rgb(241, 241, 241);
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        line-height: 1.8rem;
        margin-bottom: 1rem;
        margin-block-end: 0.83em;
        margin-block-start: 0.83em;
    }
    
    body .container-one-introduction p {
        line-height: 1.8rem;
        font-size: 0.9rem;
        text-align: center;
        display: block;
        margin-block-end: 1em;
        margin-block-start: 1em;
    }
    
    body .container-one-introduction b:nth-child(1) {
        display: inline-block;
        text-align: center;
        text-indent: 2em;
    }
    
    body .container-two {
        background: url(./images/bg2.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.7;
        min-height: 80%;
    }
    
    body .container-two .heading-container-two {
        width: 30%;
    }
    
    body .container-two .heading-container-two img {
        width: 100%;
        object-fit: cover;
    }
    
    body .container-two-introduction {
        background-color: rgb(40, 46, 52);
        padding: 3rem;
    }
    
    body .container-two-introduction h2 {
        color: rgb(221, 221, 221);
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        line-height: 1.8rem;
        margin-bottom: 1rem;
        margin-block-end: 0.83em;
        margin-block-start: 0.83em;
    }
    
    body .container-two-introduction p {
        color: rgb(221, 221, 221);
        line-height: 1.8rem;
        font-size: 0.9rem;
        text-align: justify;
        display: block;
        margin-block-end: 1em;
        margin-block-start: 1em;
    }
    
    body .container-three {
        background: url(./images/bg3.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.7;
        min-height: 84%;
    }
    
    body .container-three .heading-container-three {
        background-color: black;
        color: #fff;
        letter-spacing: 0.5rem;
        font-size: 1.5rem;
        padding: 0.5rem;
        text-align: center;
        border-top-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        outline: 0.2rem inset purple;
        outline-offset: 0.15rem;
        text-transform: capitalize;
    }
    
    body .container-three-introduction {
        padding: 3rem;
        background-color: rgb(241, 241, 241);
        color: #666;
    }
    
    body .container-three-introduction h2 {
        background-color: rgb(241, 241, 241);
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        line-height: 1.8rem;
        margin-bottom: 1rem;
        margin-block-end: 0.83em;
        margin-block-start: 0.83em;
    }
    
    body .container-three-introduction p {
        line-height: 1.8rem;
        font-size: 0.9rem;
        text-align: justify;
        display: block;
        margin-block-end: 1em;
        margin-block-start: 1em;
    }
    
    body .container-four {
        background: url(./images/bg4.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.7;
        min-height: 80%;
    }
    
    body .container-four .heading-container-four {
        background-color: black;
        color: #fff;
        letter-spacing: 0.5rem;
        font-size: 1.5rem;
        padding: 0.5rem;
        text-align: center;
        border-top-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        outline: 0.2rem inset purple;
        outline-offset: 0.15rem;
        text-transform: capitalize;
    }
    
    body .container-four-introduction {
        background-color: rgb(40, 46, 52);
        padding: 3rem;
    }
    
    body .container-four-introduction h2 {
        color: rgb(221, 221, 221);
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        line-height: 1.8rem;
        margin-bottom: 1rem;
        margin-block-end: 0.83em;
        margin-block-start: 0.83em;
    }
    
    body .container-four-introduction p {
        color: rgb(221, 221, 221);
        line-height: 1.8rem;
        font-size: 0.9rem;
        text-align: justify;
        display: block;
        margin-block-end: 1em;
        margin-block-start: 1em;
    }
    
    body .container-five {
        background: url(./images/bg.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: static;
        opacity: 0.7;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    body .container-five .heading-container-five {
        background-color: black;
        border-bottom-right-radius: 1rem;
        border-top-left-radius: 1rem;
        color: rgb(255, 255, 255);
        padding: 25px;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 0.5rem;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        outline: 0.4rem inset purple;
        outline-offset: 0.5rem;
    }